# deps
node_modules/

/generated/prisma

/generated/prisma

/prisma/@/generated/prisma

/generated/prisma

/generated/prisma

/generated/prisma

/generated/prisma

/prisma/@/generated/prisma

/prisma/@/generated/prisma
